<h1>Login</h1>
<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="_method" value="POST" >
  <input name="session[device]" type="hidden"
     value= "<%= request.env["HTTP_USER_AGENT"] %>">
  <input name="session[ip]" type="hidden"
    value= "<%= request.env["REMOTE_ADDR"] %>">

  <input name="authenticity_token" type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="sessions_user_name">User Name</label>
  <input type="text" name="session[user_name]" id="session_user_name" value="<%= @user.user_name %>">

  <br>

  <label for="session_password">Password</label>
  <input type="password" name="session[password]" id="session_password">

  <br>

  <input type="submit" value="login">
</form>