<h1><%= @cat.name %></h1>
<table>
  <tr>
    <th>Cat Name</th>
    <th>Cat Age</th>
    <th>Cat Sex</th>
    <th>Cat Color</th>
    <th>Cat Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<a href="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>
<a href="<%= cats_url %>">All Cats</a>