<h1><%= @cat.name %></h1>
<table>
  <tr>
    <th>Cat Name</th>
    <th>Cat Age</th>
    <th>Cat Sex</th>
    <th>Cat Color</th>
    <th>Cat Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<br>

<table>
  <caption>Rental Requests For <%= @cat.name %></caption>
  <tr>
    <th>Start Date</th>
    <th>   </th>
    <th>End Date</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <% @cat.cat_rental_requests.each do |request| %>
  <tr>
    <td><%= request.start_date %></td>
    <td>   </td>
    <td><%= request.end_date %></td>
    <td><%= request.status %></td>
    <td>
      <%= button_to "Approve",
        approve_cat_rental_request_url(
        {request_id: request.id}
        ) if request.pending?%>
    </td>
    <td>
      <%= button_to "Deny",
        deny_cat_rental_request_url(
        {request_id: request.id}
        ) if request.pending?%>
    </td>

    <td></td>
  </tr>
  <% end %>
</table>

<br>

<!-- <a href="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>

<br>

<a href="<%= new_cat_rental_request_url({cat_id: @cat.id}) %>">
  Spend some time with <%= @cat.name %>
</a> -->

<%= button_to "Spend some time with #{@cat.name}",
   new_cat_rental_request_url({cat_id: @cat.id}),
   {method: "get"}%>

<%= button_to "Edit info. for #{@cat.name}",
   edit_cat_url(@cat),
   {method: "get"}%>

<%= button_to "Remove #{@cat.name} from our records", cat_url(@cat), { method: "delete" } %>

<br>

<%= button_to "All Cats", cats_url, { method: "get" } %>

<!-- <a href="<%= cats_url %>">All Cats</a> -->